.fundo {
	background-color: #56ED87;
	mix-blend-mode: normal;
}

.navbar {
	position: absolute;
	width: 1440px;
	height: 86px;
	left: 0px;
	top: -3px;

	background: #232A25;
}

.logo {
	position: absolute;
	width: 128px;
	height: 48px;
	left: 118px;
	top: 17px;
}

.login {
	position: absolute;
	width: 146.32px;
	height: 41px;
	left: 1172px;
	top: 18px;
}

.loginButton {
	position: absolute;
	width: 145.85px;
	height: 40.5px;
	left: 1172.15px;
	top: 18px;

	background: #56ED87;
	border-radius: 90px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

.loginText {
	position: absolute;
	width: 115.32px;
	height: 19.08px;
	left: 1203px;
	top: 31px;

	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	font-size: 14px;
	line-height: 16px;

	color: #000000;
}

.titulo {
	position: absolute;
	width: 478px;
	height: 114px;
	left: 122px;
	top: 174px;

	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	font-size: 48px;
	line-height: 56px;

	color: #000000;
}

.desc {
	position: absolute;
	width: 459px;
	height: 84px;
	left: 122px;
	top: 303px;

	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	font-size: 24px;
	line-height: 28px;

	color: #000000;
}
