@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,700&display=swap');

/* Home */

body {
    line-height: 23px;
    margin: 0px auto;
    scroll-behavior: smooth;
	display: block;
	font-family: 'Roboto', sans-serif;
}

.BmvIn {
    margin: 0px auto;
    padding: 0px;
}

.fWBKKZ {
    margin: 0px auto;
}

.dZtafC {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
}

body.v2 h1 {
    color: rgb(242, 244, 251);
    text-transform: none;
}

.eEcjLT {
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 64px;
    width: 460px;
    max-width: 100%;
}

h1 {
    padding: 20px 0px 10px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    /* text-transform: uppercase; */
	display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

/* Desc */

.frSBeI {
    width: 360px;
    margin-top: 9px;
    max-width: 100%;
}

.bpcNbc {
    font-size: 16px;
    line-height: 24px;
}

/* Features List */

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.cbROHK:not(:last-child) {
    margin-bottom: 16px;
}

.cbROHK {
    list-style: none;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

/* Login Button */

#login {
	display: flex;
	-webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    max-width: 1240px;
    margin: 0px auto;
    padding: 24px 40px;
}

.eXyiay {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    transition: opacity 0.15s ease-out 0s;
}

.gVyJUS {
    min-height: 38px;
    font-size: 14px;
    line-height: 22px;
    padding-inline-end: 16px;
    padding-inline-start: 16px;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    user-select: none;
    color: rgb(242, 244, 251);
    border-radius: 8px;
    transition: background-color 0.15s ease-out 0s, color, opacity, border;
    outline: none;
    text-decoration: none;
    background: rgb(57, 148, 255);
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}

.login-btn {
    appearance: auto;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
	padding-left: 50%;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.headline{
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding-bottom: 50px;
    letter-spacing: 2px;
}

/*navbar*/

#navbar{
    width: 100%;
    height: 80px;
    background: black;
    color: #eee;
    position: fixed;
}

#navbar-container{
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar-items{
    display: flex;
    list-style: none;
    text-transform: uppercase;
    color: #56ed87;
}

#navbar-items li{
    padding: 10px;
}

header{
    width: 100%;
    padding: 10%;
    background: rgb(51,51,51);
	background: linear-gradient(0deg, rgba(51,51,51,1) 0%, rgba(86,237,135,1) 100%);
}

#platform{
    width: 100%;
    background: #56ed87;
    color: #111;
    padding: 5%;
}

#platform-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    padding: 15px;
}

.platform{
    display: inline-block;
    width: 45%;
}

#features{
    width: 100%;
    background:#111;
    color:#56ed87;
    padding: 5%;
   
}

#features-container{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 50px;

}

.feature{
    display: flex;
    flex-direction: column;
	background: rgba(51,51,51,1);
    padding: 20px;
    border-radius: 5px;
}

.feature-title{
	text-align: center;
	color: white;
	padding-top: 2.5vh;
	padding-bottom: 0;
}

#product{
    width: 100%;
    padding: 5%;
    background: #56ed87;
}

#product-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#items{
    width: 650px;
}

#items .item{
    display: flex;
    padding: 10px;
    margin: 15px 0;
    font-size: 1.5rem;
}

#galery{
    width: 100%;
    margin: auto;
    padding: 5%;
    background: #111;
    color: #56ed87;
}

#galery-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    justify-items: center;
}

.galery-image{
    display: inline-block;
    width: 360px;
    height: 300px;
    border-radius: 5px;
}

.equipe {
    width: 100%;
    background:#333;
    color: #eee;
    padding: 3%;
    text-align: center;
}

/* Scroll */

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: black;
}

*::-webkit-scrollbar-thumb {
	background-color: #56ed87;
	border-radius: 20px;
	border: 3px solid #111;
}

.navbar-custom {
    background-color: #111;
}

/* Buttons */

.buttons {
    margin: 10%;
    text-align: center;
}

.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-1 {
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
.btn-hover.color-2 {
    background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}
.btn-hover.color-3 {
    background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}
.btn-hover.color-4 {
    background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
    box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}
.btn-hover.color-5 {
    background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}
.btn-hover.color-6 {
    background-image: linear-gradient(to right, #009245, #FCEE21, #00A8C5, #D9E021);
    box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
}
.btn-hover.color-7 {
    background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}
.btn-hover.color-8 {
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}
.btn-hover.color-9 {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}
.btn-hover.color-10 {
        background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a , #FBB03B);
    box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}
.btn-hover.color-11 {
    background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);  box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}

.gVyJUS {
    font-family: proxima-nova, sans-serif;
    min-height: 38px;
    font-size: 14px;
    line-height: 22px;
    padding-inline-end: 16px;
    padding-inline-start: 16px;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    user-select: none;
    color: rgb(242, 244, 251);
    border-radius: 8px;
    transition: background-color 0.15s ease-out 0s, color, opacity, border;
    outline: none;
    text-decoration: none;
    background: rgb(57, 148, 255);
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}

.kPBPMQ {
    height: 56px;
    padding-right: 40px;
    padding-left: 40px;
    font-size: 16px;
    margin-inline-end: 16px;
}

/* Avatar */
.avatar {
	border-radius: 50%;
	padding: 2%;
}

/* Equipe */

.team {
	text-align: center;
	color: white;
	padding-top: 2.5vh;
	padding-bottom: 0;
}

/* Profile Card */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Josefin Sans', sans-serif;
}

body {
	/* background: linear-gradient(to right, #2c5364, #203a43, #0f2027); */
	background: rgb(44,83,100);
	background: linear-gradient(0deg, rgba(44,83,100,1) 0%, rgba(36,67,79,1) 50%, rgba(15,32,39,1) 100%);
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.main {
	height: 40vh;
}

.box {
	width: 250px;
	height: 250px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.288);
	border-radius: 23px;
	flex-direction: column;
	color: white;
	position: relative;
	overflow: hidden;
}

.box img {
	width: 100px;
	height: 100px;
	border-radius: 50px;
}

.nome {
	margin-bottom: 5px;
	font-size: 1.3rem;
}